@{
    ViewBag.Title = "Ajax";
    Layout = "~/Views/Shared/_AjaxLayout.cshtml";
}
<div class="row">
    @Html.Partial("~/Views/Examples/AsyncCallParameterlessFull-v2.cshtml")
</div>
<div class="row">
    @Html.Partial("~/Views/Examples/AsyncCallParameterlessFull-v1.cshtml")
</div>
<div class="row">
    @Html.Partial("~/Views/Examples/AsyncCall.cshtml")
</div>
<div class="row">
    @Html.Partial("~/Views/Examples/BlockingCall.cshtml")
</div>
<div class="row">
    @Html.Partial("~/Views/Examples/Serialization.cshtml")
</div>
<div class="row">
    @Html.Partial("~/Views/Examples/DefaultSerialization.cshtml")
</div>
<div class="row">
    @Html.Partial("~/Views/Examples/ModelParameter.cshtml")
</div>